<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="CrossBrowserSuite"
       parallel="tests"
       thread-count="2">

    <!-- Chrome -->

    <test name="ChromeTests">

        <parameter
                name="browser"
                value="chrome"/>

        <classes>

            <class
                    name="runners.TestRunner"/>

        </classes>

    </test>

    <!-- Firefox -->

    <test name="FirefoxTests">

        <parameter
                name="browser"
                value="firefox"/>

        <classes>

            <class
                    name="runners.TestRunner"/>

        </classes>

    </test>

</suite>